body {
    background-color: lightblue;
}

.homepage-title {
    text-align: center;
    font-size: 48px;
}

.homepage-images {
    text-align: center;
}

.homepage-img {
    width: 425px;
    height: 300px;
    margin: 4px;
}

.navigation-container {
    width: 425px;
    margin: 0 auto;
}

.navigation-title {
    font-size: 22px;
    text-align: center;
}

.navigation-list {
    margin-left: 50px;
}
.heading, .information, .directions {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

a, li, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

img {
    width: 400px;
    height: auto;
}